.main-wrap {
  max-width: 740px;
}

.collection__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.collection-item {
  display: flex;
  flex-direction: column;
  align-items: center;

  height: 437px;
  max-width: 400px;
  margin: 1rem;
}

.collection-item__teaser {
  width: 400px;
  height: 266.67px;
  object-fit: cover;
}

.collection-item__date {
  margin: 0.5rem 0;
  font-family: 'Lucida Sans';
  font-size: 0.9375rem;
  letter-spacing:  0.0625rem;
}

.collection-item__title-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 70px;
}

.collection-item__title {
  margin: 0.5rem 0;
  font-family: "Lucida Grande","Lucida Sans Unicode","Lucida Sans","Geneva","Arial","sans-serif";
  font-size: 1.777777rem;
  font-weight: 700;
}

.collection-item__excerpt {
  margin: 0;
  font-family: "Lucida Grande","Lucida Sans Unicode","Lucida Sans","Geneva","Arial","sans-serif";
  font-size: 1rem;
  font-weight: 400;
}

@include breakpoint($small) {
  .collection__wrapper  {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
